@font-face {
    font-family: 'ionicons';
    src: url('../fonts/ionicons.eot') format('embedded-opentype');
          url('../fonts/ionicons.ttf') format('truetype');
            url('../fonts/ionicons.woff') format('woff');
              url('../fonts/ionicons.svg') format('svg');
}

body{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f1f1f1;

}
.box{
    top: 50%;
    left: 50%;
    transform: translate(100px,100px);
    margin: 200px 300px ;
}
.icon{
    width: 180px;
    position: relative;
    display: inline-block;
    font-size: 60px;

}
.icon i{
    color: black;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.icon span{
    position: relative;
    width: 180px;
    background: black;
    color: white;
    padding: 1px 0;
    text-align: center;
    border-radius: 8px;
    display: block;
    margin: 5px -70px;
    opacity: 0;
    transition: 0.2s opacity;

}
.icon span:before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    background: black;
    z-index: -1;
    left: 50%;
    transform: translateY(-50%)rotate(45deg);
}
.icon:hover > span{
    opacity: 1;

}
